@use '../abstracts/mixins';

.car {
  position: relative;
  display: grid;
  justify-content: left;
  gap: 2.4rem;
  animation: car-fade-in .4s cubic-bezier(.44, 2, .2, .79) backwards;
  transform-origin: left;

  &__title,
  &__controls,
  &__main,
  &__img,
  &__btn-drive {
    animation: pop-in .4s cubic-bezier(.44, 2, .2, .79) backwards;
  }

  &__title {
    transform-origin: right;
  }

  &__controls {
    @include mixins.flex-center;
    gap: .8rem;
  }

  &__main {
    gap: .8rem;
    display: flex;
  }

  &__img {
    padding-top: 1.5rem;
    width: 7rem;
    max-height: 4.1rem;
    z-index: 2;
  }

  &__btn-drive {
    height: 3rem;
    width: 2.5rem;
  }

  &__track {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 100rem;
    border: none;
    border-top: .1rem solid var(--color-grey-lightest);

    &:before {
      content: '🏁';
      font-size: 4rem;
      position: absolute;
      top: -6rem;
      right: 10rem;
      color: var(--color-grey-lightest);
      z-index: 1;
      animation: pop-in .4s cubic-bezier(.44, 2, .2, .79) backwards .3s;
      transform-origin: right;
    }
  }
}
