.input {
  border: .1rem solid var(--color-accent-lightest);
  border-radius: 1rem;
  outline-color: transparent;

  &--color {
    background-color: var(--color-accent-lightest);
  }

  &--text {
    position: relative;

    border: none;
    background-color: transparent;

    min-height: 4.8rem;
    min-width: 32rem;

    font: inherit;
    color: inherit;
    font-size: 1.6rem;
    caret-color: transparent;

    transition: .4s all;
    z-index: 3;

    &::placeholder {
      color: var(--color-accent-lightest);
      padding-left: .2rem;
    }

    &:focus {
      transition: .4s all;
      caret-color: var(--color-accent);
    }

    &:focus::placeholder {
      color: var(--color-accent-dark);
    }

    &:focus + .input__background {
      translate: 1.47rem;
      scale: 0 .5;
      transition: .27s all cubic-bezier(.83, .69, .26, 1.06);
    }
  }

  &__background {
    position: absolute;
    top: 0;

    display: block;
    height: 100%;
    width: 100%;

    background-color: var(--color-accent);
    border-radius: 1rem;
    z-index: 1;

    transition: .27s all cubic-bezier(.83, .69, .26, 1.1);
    transform-origin: left;
  }
}
